cachelib==0.6.0
certifi==2023.5.7
charset-normalizer==2.0.12
click==8.0.4
cs50==9.2.5
dataclasses==0.8
DateTime==4.9
Flask==2.0.3
Flask-Session==0.4.1
Flask-Sessions==0.1.5
greenlet==2.0.2
idna==3.4
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.19.5
packaging==21.3
pandas==1.1.5
pathlib==1.0.1
plotly==5.15.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.46
sqlparse==0.4.4
tenacity==8.2.2
termcolor==1.1.0
typing_extensions==4.1.1
urllib3==1.26.16
Werkzeug==2.0.3
zipp==3.6.0
zope.interface==5.5.2
