{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <form action="/new_session" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="session_name" name="session_name" placeholder="Session name" type="text">
        </div><br>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="session_description" name="session_description" placeholder="Session description" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Open New Session</button>
    </form>
{% endblock %}
