{% extends "layout.html" %}

{% block title %}
    Upload new File
{% endblock %}

{% block main %}



<div class="row">
    <div class="column left">
        {% if graph1JSON %}
        <div id = "chart1"></div>
        {% endif %}
    </div>
    <div class="column right">
        <h1>Upload new File</h1>
        <br><br>
        <form method=post enctype=multipart/form-data action="/upload_online">
            <div class="mb-3">
                <label for="model"></label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="model" name="model" placeholder="Model" type="text" value={{ curr_wp["model"] }}>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="layout" name="layout" placeholder="Layout" type="text" not empty value={{ curr_wp["layout"] }}>
                <br><br><br><br>
                <input type="radio" id="ol" name="cl_ol" value="open_loop" onclick="send('ol', 'dc', 'mode', 'i_lim_ps')">
                <label for="ol">Open Loop</label><br>
                <input type="radio" id="cl" checked="checked" name="cl_ol" value="close_loop" onclick="send('cl', 'dc', 'mode', 'i_lim_ps')">
                <label for="cl">Closed Loop</label><br>
                </label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="v_ps" name="v_ps" placeholder="Vps (Volt)" type="number" min="10" max="130" step="any" value={{ curr_wp["v_ps"] }}>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="i_lim_ps" name="i_lim_ps" placeholder="I_lim_ps (A)" type="number" step="any" value={{ curr_wp["i_lim_ps"] }}>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="r_load" name="r_load" placeholder="Load Resistor (Ohm)" type="number" step="any" value={{ curr_wp["r_load"] }}>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="dc" name="dc" placeholder="Duty Cycle (%)" type="number" disabled step="any" value={{ curr_wp["dc"] }}>
                <label for="mode">Chose operating mode:</label>
                    <select name="mode" id="mode" disabled value={{ curr_wp["mode"] }}>
                        <option value="buck">Buck</option>
                        <option value="boost">Boost</option>
                        <option value="buck_boost">Buck-Boost</option>
                        <option value="do_nothing">Do Nothing</option>
                        <option value="safety">Safety</option>
                    </select>
            </div><br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="comment" name="comment" placeholder="Comment..." type="text" value={{ curr_wp["user_comment"] }}>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    </div>
</div>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Modified Time</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="{{ url_for('getFiles', reqPath=data['parentFolder']) }}">
                    <span><i class="bi bi-folder-symlink" style="margin-right:0.3em"></i>Parent Directory</span>
                </a>
            </td>
            <td></td>
            <td></td>
        </tr>
        {% for fileObj in data['files'] %}
        <tr>
            <td>
                <a href="{{ url_for('getFiles', reqPath=fileObj['relPath']) }}">
                    <span><i class="{{fileObj['fIcon']}}" style="margin-right:0.3em"></i>{{ fileObj['name'] }}</span>
                </a>
            </td>
            <td>{{fileObj['mTime']}}</td>
            <td>{{fileObj['size']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<input type="checkbox"  id="check1" onclick="send('check1', 'input1')" text="Open Loop">
<input type="text"  id="input1" disabled><br>

<input type="checkbox"  id="check2" onclick="send('check2', 'input2')", text="Closed Loop">
<input type="text"  id="input2" disabled><br>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<style>
table {table-layout:fixed; width:100%;}
table td, th {word-wrap:break-word;}
th {text-align: left;}
</style>
    

<!-- plotly CDN -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    
        var graph1 = {{ graph1JSON | safe }}
        Plotly.plot("chart1", graph1, {})
        
        // --------------------Enabled and Disables blocks----------------
        // create data in which values have keys as the IDs of the inputs
        var data = {
            dc: null,
            mode: null,
            i_lim_ps: null
        };

        function send(checkboxId, inputId1, inputId2, inputId3) {
            // get checkbox and input
            let checkbox = document.getElementById(checkboxId);
            let input1 = document.getElementById(inputId1);
            let input2 = document.getElementById(inputId2);
            let input3 = document.getElementById(inputId3);
            
            // handle checkbox and input state

            
            if (checkbox.checked && checkboxId == 'ol') {
                input1.disabled = 0;
                input2.disabled = 0;
                input3.disabled = 1;
                input1.value = data[inputId1];
                input2.value = data[inputId2];
                input3.value = data[inputId3];
                input3.value = null;
            
            }
            else if (checkbox.checked && checkboxId == 'cl') {
                input1.disabled = 1;
                input2.disabled = 1;
                input3.disabled = 0;
                data[inputId1] = input1.value;
                data[inputId2] = input2.value;
                data[inputId3] = input3.value;
                input1.value = null;
                input2.value = null;
                
            }
            
        }
        // --------------------Enabled and Disables blocks----------------
</script>

{% endblock %}
