{% extends "layout.html" %}

{% block title %}
    Upload new File
{% endblock %}

{% block main %}
<h1>Upload new File</h1>
<br><br><br>



<form method=post enctype=multipart/form-data>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="graph_title" name="graph_title" placeholder="Type graph title here" type="text">
    </div><br>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>

{% if graph1JSON %}
<div id = "chart1"></div>
{% endif %}
    
    

<!-- plotly CDN -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    
        var graph1 = {{ graph1JSON | safe }}
        Plotly.plot("chart1", graph1, {})
        

</script>

{% endblock %}
