{% extends "layout.html" %}

{% block title %}
    Cash deposit
{% endblock %}

{% block main %}
    <h2> Cash Deposit </h2>
    <br><br>
    <form action="/cash_deposit" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="cash" name="cash" placeholder="Enter amount" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Add cash</button>
    </form>
    <br>
    <p>Added {{ cash | usd }} to cash balance. Total cash balance is {{ total_cash | usd }} </p><br>
{% endblock %}
