{% extends "layout.html" %}

{% block title %}
    My Portfolio
{% endblock %}

{% block main %}
<h2> My Portfolio </h2>
<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Number of shares</th>
            <th>AVG Cost</th>
            <th>Total Cost</th>
            <th>Share Price (Current)</th>
            <th>Total value (Current)</th>
        </tr>
    </thead>
    <tbody>
            {% for ticker in holdings %}
                <tr>
                    <td>{{ ticker['symbol'] }}</td>
                    <td>{{ ticker['company_name'] }}</td>
                    <td>{{ ticker['number_of_shares'] }}</td>
                    <td>{{ ticker['share_price'] }}</td>
                    <td>{{ ticker['total_value'] }}</td>
                    <td>{{ current_price[ticker['symbol']] }}</td>
                    <td>{{ current_price[ticker['symbol']]*ticker['number_of_shares'] }}</td>
                </tr>
            {% endfor %}
    </tbody>
</table>
<br>
<h3 style="text-align:right;">Remaining cash balance: {{ cash }}</h3>
<h3 style="text-align:right;">Total portfolio value: {{ total_holdings_value }}</h3>
{% endblock %}
