{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="stock">Choose a stock to sell  </label>
                <select name="stock" id="stock">
                    {% for ticker in holdings %}
                        <option value="{{ticker['symbol']}}">{{ticker['symbol']}}: {{ticker['company_name']}}</option>
                    {% endfor %}
                </select>
        </div><br>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of shares" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
    <p>Sold {{ number_of_shares }} shares of {{ symbol }} for the price of {{ quote | usd}} </p><br>
    <p>Total sale price: {{ total_cost | usd }} </p>
    <p>Total cash balance: {{ cash | usd }} </p>
{% endblock %}
